<div class="row ml-2 mr-2 mt-2 mb-4">
  <div class="col-6">
    <label class="form-label">Country</label>
    <input [(ngModel)]="countryFilter" value="{{countryFilter}}" type="text" class="form-control"
      placeholder="Enter country to filter by">
  </div>
  <div ngbDropdown class="col-2">
    <label class="form-label">Phone State</label><br />
    <button class="btn btn-outline-primary" ngbDropdownToggle>{{phoneStateFilter}}</button>
    <div ngbDropdownMenu>
      <button ngbDropdownItem *ngFor="let item of phoneStates" (click)="setPhoneState(item)">{{item}}</button>
    </div>
  </div>
  <div class="col-1">
    <label class="form-label">Page size</label>
    <input [(ngModel)]="page.size" value="{{page.size}}" type="text" class="form-control" placeholder="Size">
  </div>
  <button type="button" class="btn btn-primary col-3 mt-2" (click)="submitFetchRequest()">Apply Filter</button>
</div>

<table class=" table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of customers;let index=index">
      <td>{{index + 1 + page.number*page.size}}</td>
      <td>{{item.name}}</td>
      <td [class.table-danger]="!item.phoneState" [class.table-success]="item.phoneState">{{item.phone}}</td>
      <td>{{item.countryName}}</td>
    </tr>
  </tbody>
</table>

<nav clas="text-center">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="0==page.number" (click)="fetchPage(0)">
      <span class="page-link">First</span>
    </li>
    <li class="page-item" [class.disabled]="0==page.number" (click)="fetchPage(page.number-1)">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item" aria-current="page" [class.active]="pageNumber==page.number"
      *ngFor="let pageNumber of getVisiblePages()" (click)="fetchPage(pageNumber)">
      <span class="page-link">{{pageNumber+1}}</span>
    </li>
    <li class="page-item" [class.disabled]="(page.totalPages-1)==page.number" (click)="fetchPage(page.number+1)">
      <a class="page-link" href="#">Next</a>
    </li>
    <li class="page-item" [class.disabled]="(page.totalPages-1)==page.number" (click)="fetchPage(page.totalPages-1)">
      <a class="page-link" href="#">Last</a>
    </li>
  </ul>
</nav>
